<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<h3 class="container centr">book</h3>
<table class="centered">
    <thead>
    <tr>
        <th>name</th>
        <th>author</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${book.name}"/>
            <td th:text="${book.author}"/>
        </tr>
    </tbody>
</table>
</body>
</html>